.navbar {
  width: 100%;
  box-sizing: border-box;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav .nav-link {
  color: white !important;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-dark .navbar-toggler-icon {
  background-color: white;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}